.corpo {
    background-color: black;
    font-family: Arial sans-serif;
    background-color: #aae6ea;
    height:auto;
   
}

.topo{
    background-color: forestgreen;
    height: 50px;

}
.logo {
    color: #fff;
    margin-left:50px;
    font-weight:bold;
    margin-top:-23px;
    margin-left: 30px;
    font-size:16pt;
}
.icone{
    color:#fff;
    margin-left:30px;
    line-height:30px;
    margin-right: 30px;
    margin-top:10px;
    font-size:15pt;
}
.mensagem{
    font-family:Arial sans-serif;
    font-size:14px;
    margin-top:-25px;
    margin-left:115px;
}
.button{
    float: right;
    margin-top: -30px;
    color:#fff;
    left:100%;
    
    
}
.areadelogin{
    background-color:forestgreen;
}
.btnentra{
    float:right;
    margin-top:10px;
   
}
.rodape a{
    float:left;
    margin-top: 5px;
    text-decoration:none;

}
.user{
    margin-top:10px;
}
.quadrado{
    margin-top: 200px;
    background-color:#fff;
    width:auto;
    height:auto;
    margin-left: 100px;
    line-height:40px;
    
}
.conteudoesqur {
    border: 1px solid black;
    width: 50%;
    height: auto;
    border-right:solid;
   
}
.conteudodire{
    background-color:red;
}

.footer {
    position: absolute;
    background-color: forestgreen;
    color: #fff;
    width: 100%;
    
    bottom: 0;
    margin-bottom:2.5px;
}

